@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Sans font */
@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  body {
    @apply m-0 p-0 h-screen bg-background text-foreground font-sans;
    /* Gridline background */
    background-image:
      linear-gradient(to right, #e5e7eb 1px, transparent 1px),
      linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
    background-size: 40px 40px; /* grid spacing */
  }

  #root {
    @apply max-w-[1280px] mx-auto p-8 text-center;
  }

  .logo {
    @apply h-24 p-6;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  @keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin 20s linear infinite;
    }
  }

  .card {
    @apply p-8;
  }

  .read-the-docs {
    @apply text-gray-500;
  }
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .border-border {
    border-color: var(--border);
  }
}
